.editorconfig      export-ignore
.gitattributes     export-ignore
.github            export-ignore
.gitignore         export-ignore
.php_cs            export-ignore
phpstan.neon.dist  export-ignore
Tests              export-ignore
