name: "Continuous Integration"

on: ["pull_request", "push"]

env:
  fail-fast: true

jobs:
  phpunit:
    name: "PHPUnit"
    runs-on: "ubuntu-20.04"
    env:
      SYMFONY_REQUIRE: ${{matrix.symfony-require}}
      SYMFONY_DEPRECATIONS_HELPER: ${{matrix.symfony-deprecations-helper}}

    strategy:
      matrix:
        php-version:
          - "7.3"
          - "7.4"
        deps:
          - "normal"
        symfony-require:
          - ""
        symfony-deprecations-helper:
          - ""
        include:
          # Test against latest Symfony 4.4 stable on 7.3
          - symfony-require: "4.4.*"
            php-version: "7.3"
            deps: "dev"

          # Test against latest Symfony 4.4 stable on 7.3 deps low
          - symfony-require: "4.4.*"
            php-version: "7.3"
            deps: "low"

          # Test against latest Symfony 4.4 stable on 7.3 deps normal
          - symfony-require: "4.4.*"
            php-version: "7.3"
            deps: "normal"

          # Test against latest Symfony 4.4 stable on 7.4
          - symfony-require: "4.4.*"
            php-version: "7.4"
            deps: "dev"

          # Test against latest Symfony 4.4 stable on 7.4 deps low
          - symfony-require: "4.4.*"
            php-version: "7.4"
            deps: "low"

          # Test against latest Symfony 4.4 stable on 7.4 deps normal
          - symfony-require: "4.4.*"
            php-version: "7.4"
            deps: "normal"

          # Test against latest Symfony 4.4 stable on 8.0
          - symfony-require: "4.4.*"
            php-version: "8.0"
            deps: "dev"

          # Test against latest Symfony 4.4 stable on 8.0 deps low
          - symfony-require: "4.4.*"
            php-version: "8.0"
            deps: "low"

          # Test against latest Symfony 4.4 stable on 7.4 deps normal
          - symfony-require: "4.4.*"
            php-version: "8.0"
            deps: "normal"
            
          # Test against latest Symfony 5.1 stable on 7.3
          - symfony-require: "5.1.*"
            php-version: "7.3"
            deps: "dev"

          # Test against latest Symfony 5.1 stable on 7.3 deps low
          - symfony-require: "5.1.*"
            php-version: "7.3"
            deps: "low"

          # Test against latest Symfony 5.1 stable on 7.3 deps normal
          - symfony-require: "5.1.*"
            php-version: "7.3"
            deps: "normal"

          # Test against latest Symfony 5.1 stable on 7.4
          - symfony-require: "5.1.*"
            php-version: "7.4"
            deps: "dev"

          # Test against latest Symfony 5.1 stable on 7.4 deps low
          - symfony-require: "5.1.*"
            php-version: "7.4"
            deps: "low"

          # Test against latest Symfony 5.1 stable on 7.4 deps normal
          - symfony-require: "5.1.*"
            php-version: "7.4"
            deps: "normal"

          # Test against latest Symfony 5.1 stable on 8.0
          - symfony-require: "5.1.*"
            php-version: "8.0"
            deps: "dev"

          # Test against latest Symfony 5.1 stable on 8.0 deps low
          - symfony-require: "5.1.*"
            php-version: "8.0"
            deps: "low"

          # Test against latest Symfony 5.1 stable on 7.4 deps normal
          - symfony-require: "5.1.*"
            php-version: "8.0"
            deps: "normal"            
            
          # Test against latest Symfony 5.2 stable on 7.3
          - symfony-require: "5.2.*"
            php-version: "7.3"
            deps: "dev"

          # Test against latest Symfony 5.2 stable on 7.3 deps low
          - symfony-require: "5.2.*"
            php-version: "7.3"
            deps: "low"

          # Test against latest Symfony 5.2 stable on 7.3 deps normal
          - symfony-require: "5.2.*"
            php-version: "7.3"
            deps: "normal"

          # Test against latest Symfony 5.2 stable on 7.4
          - symfony-require: "5.2.*"
            php-version: "7.4"
            deps: "dev"

          # Test against latest Symfony 5.2 stable on 7.4 deps low
          - symfony-require: "5.2.*"
            php-version: "7.4"
            deps: "low"

          # Test against latest Symfony 5.2 stable on 7.4 deps normal
          - symfony-require: "5.2.*"
            php-version: "7.4"
            deps: "normal"

          # Test against latest Symfony 5.2 stable on 8.0
          - symfony-require: "5.2.*"
            php-version: "8.0"
            deps: "dev"

          # Test against latest Symfony 5.2 stable on 8.0 deps low
          - symfony-require: "5.2.*"
            php-version: "8.0"
            deps: "low"

          # Test against latest Symfony 5.2 stable on 7.4 deps normal
          - symfony-require: "5.2.*"
            php-version: "8.0"
            deps: "normal"

          # Test against latest Symfony 5.3 dev on 7.3
          - symfony-require: "5.3.*"
            php-version: "7.3"
            deps: "dev"

          # Test against latest Symfony 5.3 dev on 7.4
          - symfony-require: "5.3.*"
            php-version: "7.4"
            deps: "dev"

          # Test against latest Symfony 5.3 dev on 8.0
          - symfony-require: "5.3.*"
            php-version: "8.0"
            deps: "dev"

          # Test bleeding edge
          - php-version: "8.0"
            deps: "dev"
            symfony-deprecations-helper: "weak"

    steps:
      - name: "Checkout"
        uses: "actions/checkout@v2"
        with:
          fetch-depth: 2

      - name: "Install PHP with PCOV"
        uses: "shivammathur/setup-php@v2"
        with:
          php-version: "${{ matrix.php-version }}"
          coverage: "pcov"

      - name: "Cache dependencies installed with composer"
        uses: "actions/cache@v2"
        with:
          path: "~/.composer/cache"
          key: "php-${{ matrix.php-version }}-composer-locked-${{ hashFiles('composer.lock') }}"
          restore-keys: "php-${{ matrix.php-version }}-composer-locked-"

      - name: "Install stable dependencies with composer"
        run: "composer update --no-interaction --prefer-dist --prefer-stable"
        if: "${{ matrix.deps == 'normal' }}"

      - name: "Install dev dependencies with composer"
        run: "composer update --no-interaction --prefer-dist"
        if: "${{ matrix.deps == 'dev' }}"

      - name: "Install lowest possible dependencies with composer"
        run: "composer update --no-interaction --prefer-dist --prefer-stable --prefer-lowest"
        if: "${{ matrix.deps == 'low' }}"

      - name: "Run PHPUnit"
        run: "vendor/bin/phpunit --coverage-clover=coverage.xml"

      - name: "Upload coverage file"
        uses: "actions/upload-artifact@v2"
        with:
          name: "phpunit-${{ matrix.php-version }}-${{ matrix.deps }}-${{ hashFiles('composer.lock') }}.coverage"
          path: "coverage.xml"
          
      - uses: codecov/codecov-action@v1
        with:
          verbose: true
